.accordion details {
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

/* stylelint-disable-next-line no-descending-specificity */
.accordion details + details {
  margin-top: 24px;
}

.accordion details p {
  margin-bottom: 0.8em;
}

.accordion details summary {
  position: relative;
  padding: 16px;
  padding-right: 46px;
  font-size: 1rem;
  font-weight: 600;
  color: #333;
  background-color: #f9f9f9;
  border-radius: 4px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.3s, color 0.3s;
}

.accordion details[open] summary {
  background-color: #e6f7ff;
  color: #0073e6;
}

.accordion details summary:focus,
.accordion details summary:hover {
  background-color: #e6f7ff;
  color: #0073e6;
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(135deg);
  width: 6px;
  height: 6px;
  border: 2px solid;
  border-width: 2px 2px 0 0;
  border-color: #0073e6;
  transition: transform 0.3s, border-color 0.3s;
}

.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion details .accordion-item-body {
  padding: 16px;
}

.accordion details[open] .accordion-item-body {
  border-top: none;
  border: 1px solid #e0e0e0;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
}
